@{
    var mp3Folder = (string)ViewBag.Mp3FolderPath;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Selecting mp3 folder to process and send to Spotify API</title>
</head>
<body>
    <form method="post">
        <div class="form-group">
            <div class="col-md-6">
                <label for="foldernameId">Folder name:</label>
                <input type="text" id="foldernameId" class="form-control" name="folderpath" value="@mp3Folder">
                <button type="submit" class="btn btn-primary" formaction="/processfolder">Submit to folder process</button>
            </div>
        </div>
    </form>
</body>
</html>
